.form-container {
  margin: auto;
  max-width: var(--default-form-width);
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
}

body {
  background-color: var(--default-background-color);
}