.input-container {
    display: grid;
    margin: auto;
    margin-bottom: 15px;
    max-width: 350px;
    gap: 5px;
    position: relative;
}

input {
    padding: 10px;
    border: 2px solid var(--default-input-border-color);
    border-radius: 8px;
    outline: none;
    font-size: 15px;
}

h4 {
    margin: 0px;
    color: var(--error-message-color);
    font-size: 12px;
}

input:focus {
    border: 2px solid var(--focus-input-border-color);
}

.is-invalid {
    input {
        border: 2px solid var(--error-message-color);
    }
}

.input-button {
    position: absolute;
    right: 3%;
    top: 30px;
}