.input-container {
    display: grid;
    justify-content: center;
    gap: 5px;
    width: var(--default-form-width);
    margin-bottom: 15px;
}

input {
    width: 300px;
    padding: 10px;
    border: 2px solid var(--default-input-border-color);
    border-radius: 8px;
    outline: none;
    font-size: 15px;
}

h4 {
    margin: 0px;
    color: var(--default-warning-color);
    font-size: 12px;
}