:root {
    --default-form-width: 500px;
    --default-input-border-color: #d8dadf;
    --default-background-color: #6d9ac4;
    --default-warning-color: rgb(187, 24, 24);
    --focus-input-border-color: #5654f4;
    --error-message-color: #dd4167;
}