:root {
    --default-form-width: 500px;
    --default-input-border-color: #d8dadf;
    --default-background-color: #6d9ac4;
    --focus-input-border-color: #5654f4;
    --error-message-color: #dd4167;
    --default-button-color: #4b2af2;
    --default-image-width-height: 24px;
}