.page-wrapper {
    background-color: var(--default-background-color);
    height: 100%;
    width: 100%;
}

.left-content {
    background-color: gray;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100px;
    background: grey;
}

.right-content {
    background-color: aqua;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    color: #fff;
    background: black;

}

.drag {
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    width: 8px;
    cursor: w-resize;
}