.page-wrapper {
    background-color: var(--default-background-color);
    height: 100%
}

.left-content {
    background-color: gray;
    height: 100%;
    width: 30%;
}

.right-content {
    background-color: aqua;
    height: 100%;
    width: 70%;
}