.link-container {
    text-align: center;
}

.link-container {
    button {
        background-color: var(--default-button-background-color);
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 150px;
        color: white;
        padding: 5px;
        font-size: 12px;
        display: block;
        cursor: pointer;
    }

    button:active {
        border-color: white;
    }
}